page-splash {

    .scroll-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000034;
    }


        #logo {
                height: 80%;

                .txt{
                  color: white;
                  font-weight: bolder;
                }
        }


    }


